@import url(./_font.css);
/* start css style */
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  direction: rtl;
}

.flex {
  display: flex;
}

body {
  overflow-x: hidden;
  font-family: mikhak;
  font-weight: bold;
}

a {
  text-decoration: none;
}

li,
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container-fluid {
  width: 100%;
}

.container {
  clear: both;
  max-width: 1200px !important;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  width: 267px;
  height: 100vh;
  background-image: linear-gradient(222deg, #0f20ff, transparent 65%),
    linear-gradient(226deg, #e900ff52 40%, transparent),
    linear-gradient(14deg, #4d5fff 30%, #00177c);
  position: fixed;
  right: -267px;
  transition: all 0.5s;
  z-index: 999;
  overflow-y: scroll;
  direction: ltr;
}

.sidebar * {
  transition: opacity 0.5s;
  opacity: 0;
}

.sidebar .logo-sidebar {
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-family: mikhak;
  border-bottom: 1px solid #efefef;
  margin-top: 20px;
  margin-bottom: 45px;
}

.sidebar .logo-sidebar span {
  font-size: 20px !important;
}

.sidebar .logo-sidebar span:nth-child(2) i {
  font-size: 20px;
  transform: rotate(338deg);
}

.sidebar .logo-sidebar span:nth-child(1) {
  color: lime;
}

.sidebar .logo-sidebar span:nth-child(3) {
  color: red;
}

.sidebar .search-sidebar {
  padding: 15px;
  text-align: center;
  position: relative;
}

.sidebar .search-sidebar input {
  outline: none;
  padding: 10px;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 0px 1px 2px #f7f7f7;
  position: relative;
  font-family: vazir;
}

.sidebar .search-sidebar label {
  position: absolute;
  left: 14px;
  top: 13px;
}

.sidebar .search-sidebar label i {
  padding: 15px;
  background-color: red;
  background-image: linear-gradient(356deg, #9a00ffd1, #3a13ff);
  font-size: 19px;
  color: #efefef;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
}

.sidebar .search-sidebar label i:hover {
  background-image: linear-gradient(356deg, #3a13ff, #9a00ffd1);
}

.sidebar .nav-sidebar .inside-nav li {
  opacity: 0;
  height: 0;
  position: absolute;
  padding: 20px 0;
  margin: 10px 0;
  text-align: center;
}

.sidebar .nav-sidebar .inside-nav li:hover {
  border-right: 2px solid orange;
}

.ul-active {
  color: #06fff5 !important;
}
.ul-active ~ ul {
  height: auto !important;
}
.ul-active ~ ul li {
  text-align: center;
  position: relative !important;
  opacity: 1 !important;
}
.ul-active ~ ul li a {
  padding-right: 47px !important;
  border-bottom: none !important;
  font-size: 14px !important;
}
.ul-active ~ ul li a:nth-child(1) i {
  color: orange;
}

.nav-sidebar {
  margin: 40px 0;
}

.sidebar .nav-sidebar ul li {
  width: 100%;
  padding: 20px 20px 0 20px;
  transition: padding 0.5s;
  position: relative;
}

.sidebar .nav-sidebar ul li:hover {
  transition: all 0.1s;
  border-right: 2px solid #ec0101;
  padding-right: 15px;
}

.sidebar .nav-sidebar ul li a {
  transition: padding 0.5s cubic-bezier(0, 0.49, 0.59, 0.98);
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  display: flex;
  align-items: baseline;
  margin-top: -31px;
  display: flex;
  align-items: center;
}

.sidebar .nav-sidebar ul > li > a {
  border-bottom: 1px solid #ffffff36;
}

.sidebar .nav-sidebar ul li a:hover {
  padding-right: 30px;
}

.sidebar .nav-sidebar #arrow-down {
  transition: all 0.5s;
  font-size: 13px;
  color: rgb(5, 255, 5);
}

.sidebar .nav-sidebar i {
  padding: 10px;
  font-size: 20px;
  color: #ff008c;
}

.toggle-active-color {
  transition: color 0.5s;
  color: #b9b9b9 !important;
}

.toggle-active-color #arrow-down {
  /* transition: all 0.5s; */
  transform: rotate(180deg);
  color: #ff008c !important;
}

.active-nav {
  transition: right 0.5s;
  right: 0;
}

.active-nav * {
  transition: opacity 0.5s;
  opacity: 1;
}

.active-nav ~ .page-content {
  transition: all 0.5s;
  right: 250px;
}

.page-content {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  width: 100%;
  right: 0;
  transition: all 0.5s;
}

.nav-toggle {
  background-color: #361dd8;
  width: 100%;
  height: 50px;
  top: 0;
  position: fixed;
  color: #fff;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 30px;
}

.nav-toggle i {
  font-size: 25px;
  margin-left: 50px;
  cursor: pointer;
}
.nav-toggle i:hover {
  color: #b3b3b3;
}

.nav-toggle span {
  font-size: 20px;
}

#overlay {
  transition: opacity 0.5s;
  position: fixed;
  top: 50px;
  width: 100%;
  height: 100vh;
  z-index: 998;
  opacity: 0;
  background-color: rgba(148, 147, 147, 0.507);
}

.overlay-active {
  opacity: 1 !important;
}
