@import url(./_font.css);
@import url(./_grid.css);

body {
  overflow-x: hidden;
}

.menu {
  background-color: darkblue;
  height: 50px;
  width: 100%;
  float: right;
  position: fixed;
  right: 0;
  z-index: 999;
  transition: all 1s ease;
}

.menu .top-menu {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  flex-direction: row-reverse;
  padding: 0 30px;
  transition: all 0.5s;
}

.menu .top-menu div:nth-child(1) i {
  padding: 5px;
  font-size: 25px;
}

.menu .top-menu div:nth-child(1) i:hover {
  color: rgb(141, 141, 141);
  cursor: pointer;
}

.menu .top-menu div:nth-child(2) h1 {
  font-size: 19px;
  font-family: mikhak;
}

.menu .canvas-menu {
  position: absolute;
  top: 0;
  left: -15%;
  z-index: 100;
  height: 100vh;
  background-color: darkblue;
  width: 15%;
  transition: all 1s;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  direction: ltr;
  overflow: scroll;
}

.canvas-menu * {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.menu .canvas-menu .menu-logo {
  margin: -30px 0 0 0;
}

.menu .canvas-menu .canvas-menu-title h1 {
  margin: -20px 0 25px 0;
  color: #fff;
  font-family: mikhak;
  font-size: 21px;
  font-weight: 1000;
}

.menu .canvas-menu ul {
  width: 100%;
  text-align: center;
}

.menu .canvas-menu ul a {
  display: block;
  width: 100%;
  color: #efff;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.menu .canvas-menu ul a li {
  font-size: 15px;
  font-family: vazir !important;
  z-index: 10;
  color: #fff;
  position: relative;
}

.menu .canvas-menu ul a div {
  position: absolute;
  background-color: #d96d0c;
  height: 100%;
  top: 0;
  z-index: 9;
  opacity: 0;
  width: 0;
  border-radius: 100px;
  text-align: center;
  transition: all 0.4s cubic-bezier(0, 0.4, 0.01, 1.04);
}

.menu .canvas-menu a:hover div {
  opacity: 1;
  width: 100%;
  border-radius: 0;
}

.menu .canvas-menu ul a {
  position: relative;
  font-family: mikhak;
  border-bottom: 1px solid #efefefc7;
  font-weight: 500;
  font-family: vazir;
  font-size: 15px;
  padding: 15px 0;
}

.social-media {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.social-media a {
  position: relative;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #fff;
  color: #d96d0c;
  margin: 5px;
}

.social-media a:hover {
  background-color: #d96d0c;
}

.social-media a:hover i {
  color: #fff;
}

.social-media a div {
  width: 100%;
  height: 10px;
  background-color: red;
  position: absolute;
  z-index: 100;
  top: 0;
}

.main {
  border: 1px solid black;
  width: 100%;
  min-height: 97vh;
  float: right;
  transition: all 1s ease;
  position: relative;
  margin-top: 8px;
  z-index: 1;
}

.main-active {
  width: 85%;
  transition: all 0.5s;
  filter: opacity(0.2);
}

.active-canvas {
  width: 85%;
  right: 0px;
  float: right;
  transition: all 0.5s ease;
}

.active-canvas .top-menu div:nth-child(1) {
  padding: 0;
  transition: padding 0.5s ease;
}

.active-menu {
  transition: all 1s;
  left: -18% !important;
  width: 18% !important;
}

.active-menu * {
  transition: opacity 1s ease;
  opacity: 1 !important;
}

.my-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .main-active {
    width: 100% !important;
  }
  .active-menu {
    width: 30% !important;
  }

  .active-canvas .top-menu div:nth-child(1) {
    transition: padding 0.5s ease;
    padding: 0 0 0 10%;
  }
}

@media only screen and (max-width: 350px) {
  .canvas-menu .menu-logo {
    display: none !important;
  }
  .canvas-menu-title h1 {
    padding: 20px 0 !important;
    margin: 10px 0 0 0 !important;
  }
}
